# Diferentes formas de filtrar os dados

In [20]:
#importar a biblioteca pandas
import pandas as pd

In [21]:
#Carregando o dataset
db_tw = pd.read_csv('stockerbot-export.csv', usecols=[0,1,2,3,4,5])
db_tw.head()

,id,text,timestamp,source,symbols,company_names
0,1019696670777503700,VIDEO: “I was in my office. I was minding my o...,Wed Jul 18 21:33:26 +0000 2018,GoldmanSachs,GS,The Goldman Sachs
1,1019709091038548000,The price of lumber $LB_F is down 22% since hi...,Wed Jul 18 22:22:47 +0000 2018,StockTwits,M,Macy's
2,1019711413798035500,Who says the American Dream is dead? https://t...,Wed Jul 18 22:32:01 +0000 2018,TheStreet,AIG,American
3,1019716662587740200,Barry Silbert is extremely optimistic on bitco...,Wed Jul 18 22:52:52 +0000 2018,MarketWatch,BTC,Bitcoin
4,1019718460287389700,How satellites avoid attacks and space junk wh...,Wed Jul 18 23:00:01 +0000 2018,Forbes,ORCL,Oracle

In [22]:
#loc
db_tw.loc[0:5]

,id,text,timestamp,source,symbols,company_names
0,1019696670777503700,VIDEO: “I was in my office. I was minding my o...,Wed Jul 18 21:33:26 +0000 2018,GoldmanSachs,GS,The Goldman Sachs
1,1019709091038548000,The price of lumber $LB_F is down 22% since hi...,Wed Jul 18 22:22:47 +0000 2018,StockTwits,M,Macy's
2,1019711413798035500,Who says the American Dream is dead? https://t...,Wed Jul 18 22:32:01 +0000 2018,TheStreet,AIG,American
3,1019716662587740200,Barry Silbert is extremely optimistic on bitco...,Wed Jul 18 22:52:52 +0000 2018,MarketWatch,BTC,Bitcoin
4,1019718460287389700,How satellites avoid attacks and space junk wh...,Wed Jul 18 23:00:01 +0000 2018,Forbes,ORCL,Oracle
5,1019719465095790600,.@RealMoney's David Butler's favorite FANG sto...,Wed Jul 18 23:04:00 +0000 2018,jimcramer,FB-GOOGL-GOOG,Facebook*Alphabet*Alphabet

In [23]:

# indice das linhas e nome da coluna
db_tw.loc[0:10, 'symbols']

0                GS
1                 M
2               AIG
3               BTC
4              ORCL
5     FB-GOOGL-GOOG
6               HRS
7          INTC-USB
8              NFLX
9               BTC
10              TWX
Name: symbols, dtype: object

In [24]:
# iloc: numero das linhas E colunas
db_tw_iloc = db_tw.iloc[0:10, 0:3]
db_tw_iloc.tail()

,id,text,timestamp
5,1019719465095790600,.@RealMoney's David Butler's favorite FANG sto...,Wed Jul 18 23:04:00 +0000 2018
6,1019720209786114000,Don’t miss my convo with one of my favorite th...,Wed Jul 18 23:06:58 +0000 2018
7,1019720659738480600,U.S. intelligence documents on Nelson Mandela ...,Wed Jul 18 23:08:45 +0000 2018
8,1019720723441635300,Senate wants emergency alerts to go out throug...,Wed Jul 18 23:09:00 +0000 2018
9,1019721145396887600,Hedge fund manager Marc Larsy says bitcoin $40...,Wed Jul 18 23:10:41 +0000 2018

In [27]:
db_tw.loc[(db_tw['source'] == "MarketWatch") &  (db_tw['symbols'] == "BTC")] # e: &,  ou: |

,id,text,timestamp,source,symbols,company_names
3,1019716662587740200,Barry Silbert is extremely optimistic on bitco...,Wed Jul 18 22:52:52 +0000 2018,MarketWatch,BTC,Bitcoin
9,1019721145396887600,Hedge fund manager Marc Larsy says bitcoin $40...,Wed Jul 18 23:10:41 +0000 2018,MarketWatch,BTC,Bitcoin

In [28]:
btc = db_tw[(db_tw['symbols'] =='BTC')]
btc.sample(3)

,id,text,timestamp,source,symbols,company_names
28243,1019729740746219500,RT @SaMubtcfx: 💰ADAプレゼント企画💰 2500$ADA(5万円相当)を抽...,Wed Jul 18 23:44:50 +0000 2018,negisan8,BTC,Bitcoin
28118,1019728172848468000,RT @CHalexov2016: See how Gold explode when #E...,Wed Jul 18 23:38:36 +0000 2018,vlasovakristi10,BTC,Bitcoin
28173,1019728792925827100,チャート的に81万まで落として調整したってのも良かったと思ってます。 $BTC,Wed Jul 18 23:41:04 +0000 2018,nonikenolife1,BTC,Bitcoin

In [30]:
#Query
db_tw.query("symbols == 'M'")

,id,text,timestamp,source,symbols,company_names
1,1019709091038548000,The price of lumber $LB_F is down 22% since hi...,Wed Jul 18 22:22:47 +0000 2018,StockTwits,M,Macy's

In [31]:
#Filter
db_tw_filter = db_tw.filter(['text', 'source', 'company_names'])
db_tw_filter.sample(3)

,text,source,company_names
977,Avangrid $AGR versus Edison International $EIX...,TranscriptDaily,Edison International
1065,RT @OpenOutcrier: +Initiations 7/10: $NGL $NVM...,tradnews_,SLM Corporation
8739,Going long $CAT $WDC and $MU Monday AM.. Watch...,trucharts,Western Digital Corporation

In [33]:
#isin

db_tw[db_tw['symbols'].isin(['BTC','GS', 'AKAM', 'JD'])]

,id,text,timestamp,source,symbols,company_names
0,1019696670777503700,VIDEO: “I was in my office. I was minding my o...,Wed Jul 18 21:33:26 +0000 2018,GoldmanSachs,GS,The Goldman Sachs
3,1019716662587740200,Barry Silbert is extremely optimistic on bitco...,Wed Jul 18 22:52:52 +0000 2018,MarketWatch,BTC,Bitcoin
9,1019721145396887600,Hedge fund manager Marc Larsy says bitcoin $40...,Wed Jul 18 23:10:41 +0000 2018,MarketWatch,BTC,Bitcoin
24,1019741742386597900,New York City will force Airbnb to disclose in...,Thu Jul 19 00:32:31 +0000 2018,business,JD,JD
153,1016239081716703200,Akamai Technologies Inc. $AKAM Director Naomi ...,Mon Jul 09 08:34:12 +0000 2018,dakotafinancial,AKAM,Akamai Technologies
...,...,...,...,...,...,...
28269,1019730074797408300,RT @cryptorangutang: To all the fallen heroes ...,Wed Jul 18 23:46:10 +0000 2018,_DaddyDanger,BTC,Bitcoin
28270,1019730082703790100,RT @ENewsMan: New exchange for Telcoin!?!?! Mi...,Wed Jul 18 23:46:12 +0000 2018,iad81,BTC,Bitcoin
28272,1019730115524288500,【仮想通貨】ビットコインの価格上昇、８０万円台回復 約１カ月半ぶり $BTC ht...,Wed Jul 18 23:46:19 +0000 2018,keizai_toushi17,BTC,Bitcoin
28273,1019730115805184000,RT @invest_in_hd: 'Nuff said! $TEL #telcoin #...,Wed Jul 18 23:46:19 +0000 2018,iad81,BTC,Bitcoin
28274,1019730117252341800,【仮想通貨】ビットコインの価格上昇、８０万円台回復 約１カ月半ぶり $BTC ht...,Wed Jul 18 23:46:20 +0000 2018,O8viWMyrCV6cBOZ,BTC,Bitcoin

In [32]:
db_tw.symbols.unique()

array(['GS', 'M', 'AIG', 'BTC', 'ORCL', 'FB-GOOGL-GOOG', 'HRS',
       'INTC-USB', 'NFLX', 'TWX', 'ENDP', 'HPQ', 'MGM', 'AMZN-GPS', 'UDR',
       'ticker', 'NTRS', 'CBS', 'BLK', 'GOOGL', 'EBAY', 'JD', 'TWTR',
       'FB', 'FIS', 'AJG', 'INFO', 'FLR', 'AVY', 'ETR', 'XYL', 'IRM',
       'ORLY', 'AVB', 'HP', 'MOS', 'HSY', 'NI', 'AMG', 'HCA', 'JEC',
       'ODP', 'COO', 'SNPS', 'ARRY', 'REG', 'RHI', 'DLTR', 'FNSR', 'NVAX',
       'ANSS', 'PNR', 'DDR', 'EL', 'EXPD', 'AEE', 'AON', 'LH', 'ALLE',
       'AIV', 'RE', 'WU', 'WRK', 'AAP', 'OKE', 'XRAY', 'MTD', 'TMK',
       'SLM', 'SRCL', 'IP', 'EMN', 'NUAN', 'AKAM', 'TRQ', 'GNTX', 'DCIX',
       'FBHS', 'ZBH', 'BXP', 'MAA', 'KIM', 'HIBB', 'CNP', 'PAH', 'WYN',
       'TROW', 'ECL', 'LUK', 'WM', 'AZO', 'HIG', 'AES', 'FMSA', 'QRVO',
       'CX', 'HDS', 'WLTW', 'MUR', 'ROP', 'DLPH', 'GNCA', 'ED', 'HSIC',
       'ROST', 'VAR', 'UHS', 'FRT', 'ZTS', 'HOLX', 'DTE', 'ETE', 'AEP',
       'TMO', 'PTEN', 'FLEX', 'XL', 'PDCO', 'HCP', 'MON', 'COL', 'CINF',
       'UNM', 'MHK', 'WEC', 'XLNX', 'JCI', 'DISCK', 'PHM', 'EIX', 'SLCA',
       'BDX', 'LITE', 'MCHP', 'YUM', 'EVHC', 'LYB', 'BWA', 'HRL', 'WHR',
       'EQT', 'LNT', 'AIZ', 'CY', 'DPS', 'MCK', 'INTU', 'XEC', 'CAH',
       'SPG', 'KMX', 'TSN', 'APD', 'NBL', 'NEE', 'PEG', 'XRX', 'HLT',
       'DXC', 'ADP', 'CMI', 'IFF', 'ABC', 'WY', 'MKC', 'CHRW', 'AABA',
       'HUM', 'L', 'EW', 'CME', 'DISCA', 'MPC', 'BEN', 'AN', 'SYY',
       'VIAB', 'CNC', 'EFX', 'MSI', 'PRU', 'UA', 'FL', 'ADSK', 'WAT',
       'FISV', 'EXR', 'MDLZ', 'PRGO', 'PXD', 'HIMX', 'FEYE', 'EQIX', 'FE',
       'NOV', 'EMR', 'NTAP', 'PH', 'MAS', 'MAR', 'RCL', 'AET', 'HES',
       'IDXX', 'APRN', 'MNK', 'LLL', 'RSG', 'DISH', 'KSU', 'JWN', 'WDC',
       'SYMC', 'INCY', 'BBBY', 'CTXS', 'KMB', 'NFX', 'FOX', 'ALK', 'ALXN',
       'DLR', 'HTZ', 'NOC', 'CI', 'PPG', 'NTNX', 'YNDX', 'APC', 'TJX',
       'SJM', 'TSCO', 'VLO', 'ACN', 'DHI', 'SWK', 'IVZ', 'STI', 'JNPR',
       'BHGE', 'ESRX', 'NDAQ', 'GLUU', 'NSC', 'CPB', 'COF', 'STZ', 'SYF',
       'AMT', 'STT', 'BBY', 'ON', 'GIS', 'TAP', 'CRZO', 'AMTD', 'SLG',
       'REGN', 'EOG', 'COG', 'NRG', 'ILMN', 'APA', 'MO', 'TMUS', 'AYI',
       'MAT', 'DVN', 'RHT', 'ZNGA', 'CTAS', 'HAS', 'FITB', 'AGN', 'TRIP',
       'K', 'GG', 'UTX', 'BBT', 'DRI', 'IR', 'BZUN', 'IPG', 'LOW', 'MYL',
       'EA', 'ETFC', 'CCL', 'COST', 'UPS', 'MET', 'ALGN', 'HON', 'HRB',
       'PNC', 'WYNN', 'CMS', 'ISRG', 'VRX', 'GGP', 'DHR', 'NKE', 'TSM',
       'CVS', 'NAVI', 'ARNC', 'ESS', 'DE', 'A', 'FOXA', 'ICE', 'QCOM',
       'ADI', 'LNC', 'HPE', 'SPN', 'SQQQ', 'CLX', 'MMM', 'GRPN', 'PLD',
       'DOV', 'DG', 'FMC', 'CCI', 'TSS', 'SRC', 'CVX', 'TQQQ', 'GPS',
       'ADS', 'JBHT', 'DKS', 'CMA', 'FDX', 'SIG', 'ESV', 'PYPL', 'KR',
       'WBA', 'DFS', 'CXO', 'CRM', 'TVIX', 'ITUB', 'AUY', 'SRPT', 'ADM',
       'VRTX', 'NLY', 'WLL', 'CMCSA', 'SLB', 'RTN', 'OAS', 'TRV', 'ALB',
       'DAL', 'RRC', 'NWL', 'OMC', 'CTL', 'CL', 'SWN', 'MTB', 'AAOI',
       'HD', 'LMT', 'MRO', 'D', 'MOMO', 'BIDU', 'SCHW', 'COP', 'RAD',
       'WPX', 'RIG', 'ABEV', 'BMY', 'RF', 'MA', 'LLY', 'GLW', 'INTC',
       'APH', 'ADBE', 'VALE', 'PG', 'WFT', 'BAX', 'BSX', 'GILD', 'CHK',
       'PBR', 'VZ', 'OXY', 'EXC', 'GM', 'MCD', 'VIPS', 'MRK', 'T', 'TXT',
       'SBUX', 'V', 'STX', 'NOK', 'ABX', 'BIIB', 'C', 'TXN', 'SNAP',
       'XEL', 'PM', 'AAL', 'ABBV', 'TGT', 'AMAT', 'JNJ', 'CLF', 'PFE',
       'MDT', 'WFC', 'SIRI', 'ERIC', 'XOM', 'HST', 'BA', 'ES', 'CSCO',
       'CAT', 'NEM', 'GE', 'MU', 'AMD', 'CSX', 'BABA', 'KMI', 'SAN',
       'GOOG', 'JPM', 'TEL', 'MS', 'ABT', 'AMP', 'QQQ', 'AXP', 'ETN', 'S',
       'MSFT', 'AAPL', 'OMG', 'IBM'], dtype=object)